---
import Section from "@/components/Section.astro";
import cvData from '../../../cv.json';

const { summary } = cvData.basics;
---

<Section title="Sobre mí">
  <div class="prose dark:prose-invert max-w-none">
    <p class="text-lg text-gray-700 dark:text-gray-300 leading-relaxed">
      {summary}
    </p>
  </div>
</Section>